body {
    font-weight: 400;
    /* width: 360px; */
}

h1 {
    font-size: 27px;
    line-height: 32px;
    margin: 40px 92px 16px 16px;
}

h2 {
    font-size: 21px;
    line-height: 26px;
    margin: 0;
}

.subtitle-buttons {
    margin-bottom: 17px;
}

.main-container {
    margin: 0;
    border-style: none;
    border-radius: 0;
    /* padding: 0; */
    padding: 24px 0 8px 16px;
    /* width: 100vw; */
}

.left-container {
    /* width: 100vw; */
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

.adress-buttons {
    display: none;
}

.adress-container {
    display: none;
}

.mob-adress-container {
    display: flex;
    /* margin-bottom: 12px; */
    overflow-x: scroll;
    padding: 2px;
}

.mob-adress-container::-webkit-scrollbar {
    width: 0;
}

.mob-adress-container__adress {
    /* box-sizing: content-box; */
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    margin-right: 14px;
    padding: 16px 20px;
    cursor: pointer;
    width: 300px;
    min-height: 114px;
    /* flex: 0 0 auto; */
}

.mob-adress-container__adress.active{
    outline: 2px solid #065CC2;
}

.mob-adress-container__type-del {
    font-size: 17px;
    line-height: 21px;
    font-weight: 700;
}

.mob-adress-container__price {
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 4px;
}

.mob-adress-container__adress-del {
    width: 260px;
    font-size: 14px;
    line-height: 18px;
}

.new-place {
    margin-bottom: 24px;
}

.new-place a {
    font-size: 17px;
    line-height: 21px;
}

.date-container__date-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 20px;
    margin-right: 8px;
    height: 75px;
    min-width: 117px;

}
.date-container__date {
    /* width: 117px; */
    font-size: 17px;
    line-height: 21px;
}

.date-container__time {
    font-size: 14px;
    line-height: 18px;
}

.date-container__moredates {
    display: none;
}

.mob-date-container__moredates {
    display: block;
    margin-bottom: 24px;
}

.mob-date-container__moredates a {
    font-size: 17px;
    line-height: 21px;
}

.options-container__option {
    width: 294px;
    font-size: 17px;
    line-height: 21px;
}

.recipient-sub-title {
    display: none;
}

.mob-client-container {
    display: block;
    margin-right: 16px;
}

.mob-client-container select {
    height: 69px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    margin-bottom: 14px;
    padding-left: 14px;
    font-weight: 700;
    font-family: 'PT Root UI';
    font-size: 17px;
    line-height: 21px;
}

.mob-client-container__input-buyer {
    margin-bottom: 8px;
}

/* .mob-client-container__input-buyer select {
    width: 100%;

} */

.mob-client-container__recipient-new-recipient {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.mob-client-container__new-buyer-link a {
    font-size: 17px;
    line-height: 20px;
}

/* .mob-client-container__input-phone {
    margin-bottom: 0;
} */

.mob-client-container__new-phone-link {
    width: 100px;
    margin-left: 20px;
}

.mob-client-container__phone {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* width: 300px; */
}

.mob-client-container__phone a {
    font-size: 17px;
    line-height: 21px;
}

.mob-client-container__phone select{
    width: 210px;
    margin: 0;
}



.client-container {
    display: none;
}

.right-container {
    display: none;
}

.footer {
    display: none;
}

.mob-footer {
    display: block;
    padding: 16px;
    position: sticky;
    bottom: 0;
    /* padding: 19px 184px 20px 120px; */
    height: 118px;
    background: #f8f8f8;
    border-top: 1px solid #C5C5C5;
    /* width: 360px; */
}

.mob-footer__price-deatils {
    display: flex;
    justify-content: space-between;
}

.mob-footer__price {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px;
}

.mob-footer__details a {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.mob-footer__confirm {
    width: 100%;
    height: 52px;
    background: linear-gradient(0deg, #EC0002, #EC0002), linear-gradient(91.91deg, rgba(208, 38, 38, 0) 0%, #D02626 99.65%), #FF0000;
    border: 1px solid #E01D1D;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04), 0px 2px 0px rgba(149, 135, 128, 0.4);
    border-radius: 4px;
}

.mob-footer__confirm-label {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #fff;
}
.mob-footer__btn-confirm {
    display: flex;
    justify-content: center;
}

.popup-bg {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
}

.popup-bg:target {
    opacity: 1;
    visibility: visible;
}

.popup {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    width: 100%;
    max-height: 100%;
    background: #fff;
    padding: 20px;
    /* transform: translate(-50%, -50%); */
    /* display: none; */
    height: 100%;
}

.popup h2 {
    margin: 40px 0 20px 0;
}

.popup__prices , .popup__discount , .popup__score {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.popup__hr {
    /* width: 360px; */
    margin: 20px 0;
    color: #D6D6D6;
}

.popup__weight {
    font-weight: 400;
}

.popup__text {
    font-size: 17px;
    line-height: 21px;
}

.popup__price {
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
}

.popup__footer {
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    position: sticky;
    top: 100%;
    border-top: 1px solid #f8f8f8
    
}

.popup__footer button {
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04), 0px 2px 0px rgba(149, 135, 128, 0.4);
    border-radius: 4px;
    padding: 16px 20px;
    width: 390px;
    height: 52px;
    margin: 16px;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
}

